body {
	background-color:#d78af3;
}
nav {
	width: 100%;
	heigt: 50px;
	background-color: 000;
}
nav p {
  font-size: 24px;
  color: #d6d6d6;
  line-height: 65px;
  padding: 10px 40px 10px 20px;
  float:left;
}

nav ul li {
  display: block;
  float:left;
}
nav p {
  font-size: 24px;
  color: #d6d6d6;
  line-height: 65px;
  padding: 0 40px 0 20px;
  float:left;
}

nav ul li {
  font-size: 20px;
  display: block;
  float:left;
}
nav a {
  display:block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #d6d6d6;
  line-height: 65px;
}

nav ul li ul {
  position:absolute;
  background-color: rgba(40,40,40,0.8);
  width:140px;
}

nav ul li ul li {
  width:140px;
}

nav ul li ul {
  display:none;
}

nav ul li:hover ul {
  display:block;
}

p1 {
	font-size: 60px;
}

p {
	color: pink;
	font-size: 18px;
}

h1 {
	font-size: 40px;
	fload: middle;
	font-family: "Arial"
}
b1 {
	color: red;
	font-size: 10px;
	fload: left;
}
b2 {
	color: yellow;
	font-size: 20px;
}
b3 {
	color: green;
	font-size: 30px;
}
b4 {
	color: blue;
	font-size: 40px;
}
b {
	color: purple;
	font-size: 50px;
}
